# Tipo de acesso no CPROEIS: "CPF" ou "ID" (ID Funcional)
PROEIS_TIPO=ID
# Numero do CPF (so digitos) ou ID Funcional
PROEIS_LOGIN=
# Senha do CPROEIS (max 8 caracteres)
PROEIS_SENHA=
# Chave de API do 2Captcha (https://2captcha.com)
CAPTCHA_API_KEY=
# PIN para acessar o painel web
PANEL_PIN=
